.heading {
    text-align: left;
}
a {
    text-decoration: none;
    background-color: #ffffff00;
    color: black;
}
.explore   {
    background-color:orangered;
    border: none;
    color: blue;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    z-index: 1;
    align-self: center;
    justify-self: center;
  }
html {
    overflow: hidden;
    background-image: url(pexels-lucie-liz-3165335\ \(1\).jpg);
}

.content {
    position: fixed;
    text-align: left;
    color: green;
    top: 1;
    background: none;
    width: 100%;
    padding: 20px;
}

.glow {
    font-size: 30px;
    color: #fff;
    text-align: left;
    animation: glow 1s ease-in-out infinite alternate;
  }

  @keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }

    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }

.content {
    font-family: cursive;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: left;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .span {
    text-align: right;
    color: white;
    font-size: larger;
  }
